<h1>Account_activation Notice</h1>

<p>
  <%= @greeting %>, <%= @user.name %>
  <p>
   <%= link_to 'Activate  your account', edit_activation_url(@user.activation_token, email:@user.email) %>
   </p>
</p>
