



<li>
  <%= link_to budget.category, budget_path(budget.id)%> 
| $<%= link_to budget.amount,  budget_path(budget.id)%> 
| <%= link_to 'delete', budget_path(budget), method: :delete, data:{confirm: "Are You Sure ?"} %> 
| <%= link_to 'edit', edit_budget_path(budget) %>
</li>




  