

<div class= "row">
         <div class="col-md-6 col-md-offset-3 ">
    <legend>Budgets</legend>
        <%= will_paginate %>
        <h6> <%=link_to 'Add A New Budget', new_budget_path %> </h6>
          <ul class = "users"> <%= render @budgets %> </ul>
        <%= will_paginate %>                            
    </div>
        </div>