


<div class= "row show_container">
   <div class="col-md-6 col-md-offset-3 show">
   <legend>Budgets:</legend>
        <ul class="users">
            <li>Category: <%= @budget.category %> </li>
            <li>Initial Balance: $<%= @budget.balance %> </li> 
            <li>Current Balance: $<%= @budget.amount %>  </li>  
        </ul>
   </div>
   </div>