
    <div class= "row index_container">
         <div class="col-md-6 col-md-offset-3 container">
    <legend>Registered Users</legend>
        <%= will_paginate %>
            <ul class = "users"> <%= render @users %> </ul>
        <%= will_paginate %>                            
    </div>
        </div>
    
   