

    <div class="row" >
     <% if flash.any? %>
        <div class="col-md-6 col-md-offset-3 alert alert-warning" >
                <%= flash.notice unless nil %>
                <%= flash.alert unless nil %>
         </div>
    <% end %>
    </div>