

  
<div class="card-body">

    <h3 class="card-title"> <%= link_to posts.title, user_post_path(posts.user_id, posts.id) %> </h3>
    <p class="card-text"> <%= posts.description%> </p> 
    <%if posts.images.attached?  %>
      <% posts.images.each do |image| %>
      <%= link_to image_tag(image.variant(resize: "100x100")),  user_post_path(posts.user_id, posts.id) , class: "card-img" %> 
    <% end%>
    <% end %>
  </div>


