
<% current_user.posts.each do |post| %>
  <div class="card-body">
    <h3 class="card-title"> <%= link_to post.title, user_post_path(current_user, post.id) %> </h3>
    <p class="card-text"> <%= post.description%> </p> 
    <%if post.images.attached?  %>
      <% post.images.each do |image| %>
      <%= link_to image_tag(image.variant(resize: "100x100")),  user_post_path(current_user, post.id) , class: "card-img" %> 
    <% end%>
    <% end%>
  </div>
<% end%>

