@import "bootstrap-sprockets";
@import "bootstrap";



/* variables & misc ƒ*/
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



section {
    overflow: auto;
    }

textarea {
    resize: vertical;
    }



 .center {
    text-align: center;
   h1 {
    margin-bottom: 10px;
    }
  }

  body { 
    position: relative;
    top:71px;
    min-height: 90vh;
    padding: 10px 50px;
    }

    .main{
      position:relative;
      height:80vh;
      overflow: auto;
    }
  /* footer */
  .footer>footer{
    position: absolute;
    width: 95%;
    bottom: 0;
    left:0;
    right:0;
    margin: 0 auto;
    border:black solid 1px;
    border-radius: 12px;
    
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-evenly; /*main axis */
    align-items: flex-start; /*cross axis */
    align-content: center; /* aligning items with multiple lines  on cross-axis  */
    
    ul{
      list-style: none;
      padding-left: 0px;
      display: flex;
      li{
        margin: 10px;
      }
    }
  }
 

/* misc not not part of production */
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* aside */
.user-info{  
 border:solid $gray-medium-light;
 position: relative;
 float:right;
 }



/* forms */
legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.card{
  margin: 2em;
  padding: 1em;
  width:65%;
  height: 100%;
  border: solid silver 2px;  
 .card-img{
   display:inline-block;
   border:black solid 2px;
 }
}

 .show-post{
   float:left;
   margin: 5em 0 5em;
   width: 75%;
   height: 100%;
   padding: 2em;
   border: silver solid;
    .img-box{
      display:inline-block;
      
      border:black solid 1px;
      margin-left:5px;
      padding:1px;
      img{
        display:inline-block;
        border:black solid;
      }
   }
 }

 .show-aside{   
   float: right;
   margin: 5em 0 5em;
   padding:5px;
   border: silver solid;
   min-height: auto;
   li{
     display: block;
   }
 }

 /* users list style */
  .users{
    list-style-type: none;
    margin:0;
    li{
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-medium-light;
    }
  }
  /* prevents navbar will overlay your other content*/
  


.action-menu>ul{
  list-style-type:none;
}