<h2>Receipt Show Box</h2>

<p>This Web base Application allows you to view all your saved receipts stored in the Cloud.
Using either Google Drive , Dropbox, Github or your own personal login to create your own personal account to store your file records.
When Login via Google Drive or Dropbox files will be saved via its perspective provider. 
</p>

<p>Try it and have fun</p>
<p>All Feedbak are welcome</p>