

<li>
<%= receipt.content %> | <%= link_to 'delete', user_receipt_path(current_user,receipt ), method: :delete, data:{confirm: "Are You Sure ?"} %> | <%= link_to 'edit', edit_user_receipt_path(current_user,receipt) %>
</li>

